html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#page-container {
    flex: 1 1 auto;
    overflow: auto;
}

#topNavBar {
    flex: 0 1 auto;
}

.thumbnail-img {
    width: 50px;
    height: 50px;
    margin: 2px
}

.truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.modal-dialog.large {
    width: 80% !important;
    max-width: unset;
}

.modal-dialog.mid-large {
    width: 50% !important;
    max-width: unset;
}

@media (max-width:720px) {
    .modal-dialog.large {
        width: 100% !important;
        max-width: unset;
    }
    .modal-dialog.mid-large {
        width: 100% !important;
        max-width: unset;
    }
}

.display-select-image {
    width: 60px;
    height: 60px;
    margin: 2px
}

img.display-image {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    background: black;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.img-del-btn {
    right: 2px;
    top: -3px;
}

.img-del-btn>.btn {
    font-size: 10px;
    padding: 0px 2px !important;
}

#top-avatar {
    height: 35px;
    width: 35px;
    object-fit: scale-down;
    object-position: center center;
    border-radius: 50% 50%;
}

input.form-control-border,
select.form-control-border {
    border: unset;
    border-bottom: 1px solid;
    border-color: #dadada;
    transition: border .3s ease-in;
}

input.form-control-border:focus,
select.form-control-border:focus {
    border: unset;
    box-shadow: unset;
    border-bottom: 1px solid;
    border-color: var(--bs-info);
}

input.form-control-border+.field-label,
select.form-control-border+.field-label,
textarea.form-control+.field-label {
    transition: all .3s ease-in;
    position: relative;
    top: -1.5em;
    display: none;
}

input.form-control-border:focus+.field-label,
select.form-control-border:focus+.field-label,
textarea.form-control:focus+.field-label {
    display: block;
    top: 0;
    color: var(--bs-info);
}